.jumbo {
    background-image:  linear-gradient(rgba(0, 0, 0, 0.432), rgba(0, 0, 0, 0.432)), url("https://i.imgur.com/Dgkw6WH.jpg");
    background-size: cover;
    background-position: center;
    color: white
  
  }