body {
  /* background: #4ebbab; */
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background: url("http://cdn.wallpapersafari.com/13/6/Mpsg2b.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
}

.logcontainer{
   background: #4ebbab;

}

.login-box h1 {
  text-align: center;
  float: left;
  font-size: 40px;
  border-bottom: 6px solid #494a4d;
  margin-bottom: 50px;
  padding: 13px 0;
}

.login-box {
  position: absolute;
  z-index: 2;
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #494a4d;
}
.textbox input {
  border: none;
  outline: none;
  background: none;
  color: black;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}

.btn {
  width: 100%;
  /* background: none; */
  /* border: 2px solid #494a4d; */
  /* color: white; */
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}

.footer {
  position: fixed;
  height: 50px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #494949;
  color: white;
  text-align: center;
}
